body {
    background-image: url('bg77.jpg');
    color: #3d3c3c;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
nav{
    color: white;
}
*{
    color: #d9d9d9;
}
footer{
    position:static;
    bottom: 0px;
    width: 100%;
    background: #111;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: justify;
}
.left .social{
    margin: 20px 0 0 0;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #0f0f0f;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 03.s;
}
.left .content .social a span:hover{
    background: #ff1010;
}


#wrapper { 
    width: 920px; 
    height: 350px; 
    margin: 0 auto; 
} 

#home1 { 
    width: 400px; 
    height: 300px; 
    float: left; 
} 

#home2 { 
    width: 400px; 
    height: 300px; 
    float: left; 
}
@media (max-width:767px) {
    .home1 {
        position: relative;
        padding-bottom: 56.25%; /* 16/9 ratio */
        padding-top: 30px; /* IE6 workaround*/
        height: 0;
        overflow: hidden;
    }
    .home2 {
        margin-left: 0;
    }
}